.Nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 70px;
}
.avatar{
  border-radius: 0px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    margin-top: 0%;
  
    margin-left : 20%;
    margin-right: 20%;
}

